
.DS_Store

#Build
bin
obj
src/symphony-core/SymphonyInstaller/SymphonyInstaller
/docs/doxygen
docs/sphinx/build


# VS
src/symphony-core/Symphony.sln.DotSettings.user
src/symphony-core/ipch

# Codesign
src/symphony-core/Symphony.Core/physion_authenticode.pfx

#Test artifacts
src/symphony-core/IntegrationTests/*.received.txt
src/symphony-core/IntegrationTests/*.received.xml
src/symphony-core/Symphony.*Tests.xml
src/symphony-core/Symphony.Core.Tests/*.h5
src/symphony-core/Symphony.Core.Tests/*.received.xml
src/symphony-core/IntegrationTests/*.h5


# JetBrains settings
*DotSettings*