
.DS_Store

#Build
bin
obj
Symphony/SymphonyInstaller/SymphonyInstaller
/docs/doxygen
docs/sphinx/build


# VS
Symphony/Symphony.sln.DotSettings.user

# Codesign
Symphony/Symphony.Core/physion_authenticode.pfx

#Test artifacts
Symphony/IntegrationTests/*.received.txt
Symphony/Symphony.*Tests.xml
Symphony/Symphony.Core.Tests/*.h5
Symphony/IntegrationTests/*.h5

# JetBrains settings
*DotSettings*